<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->

    <link href="static/css/src/main.css" type="text/css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<!--<script src="templates/header.js"></script>-->

<div class="fluidWrapper">
    <div class="wrapper wrapper1">
        <div class="section post">
            <h2 class="sectionTitle1">退货换货</h2>
            <div class="post descriptions">
                <div class="postSection">
                    <h3 class="title">换规则</h3>
                    <p>
                        <b>乡HOME7天无忧退换货</b><br>
                        为了让您更加满意，购物时无后顾之忧，乡HOME即日起提供“7天无忧退换货”服务——自您签收产品7日内（以快递签收日为准），
                        在不影响产品二次销售情况下，可向乡HOME申请办理退换货。<br><br>
                        下列情况不属于“7天无忧退换货”范畴<br>
                        1）影响二次销售的产品<br>
                        乡HOME所售产品均为全新品，为保护消费者利益，若退回的产品及配件、货牌、销售单据、赠品、
                        包装等有缺失情况，或出现其他影响二次销售的情况，恕不接受退换货。<br>
                        2）手工制品<br>
                        乡HOME多娄产品为手工制作，此类产品不参加“7天无忧退换货”，质量问题除外，请以页面提示为准。<br>
                        3）超过退换货申请期限（签收日起7天内），则视为交易已完成，逾期不予退换货处理。
                    </p>
                </div>
                <div class="postSection">
                    <h3 class="title">退货方式</h3>
                    <p>
                        用户登陆后台，填写退换货信息，客服24小时之内确认后台更改状态：<br>
                        审核通过；审核不通过；已退款。<br><br>
                        审核通过：<br>
                        1）无货退款：三个工作日后查看状态更改为已退款；<br>
                        2）需退货，请注意48小时内查收邮件并按地址回复寄回快递单号； <br><br>
                        审核不通过，请注意查收拒绝理由邮件。<br>
                        已退款：三个工作日通过原付款账户查收退款金额。
                    </p>
                </div>
                <div class="postSection">
                    <h3 class="title">配送费用</h3>
                    <p>
                        1）乡HOME退款一般情况下会原路退回至您的付款账户中，退货时垫付的运费由商家单独退回。<br>
                        2）对于审核通过的订单，乡HOME将于三个工作日内原路退款至您的账户中。
                    </p>
                </div>
                <div class="postSection">
                    <h3 class="title">运费报销</h3>
                    <p>
                        1）因顾客拒收、长期不在等导致产品被快递公司或邮局退回时，需由顾客承担再次发送的运费。<br>
                        2）关于“回邮运费”：<br>
                        <span style="color: red">※</span>非质量问题：<br>
                        需由客户承担退换货和再次发货的运费，乡HOME及商家不承担此费用。<br>
                        <span style="color: red">※</span>质量问题：<br>
                        退换货运费需要您先行垫付，商家在收到货品后将根据您提供的支付宝账户为您报销支付的运费。

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>