<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->

    <link href="static/css/src/main.css" type="text/css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<!--<script src="templates/header.js"></script>-->

<div class="fluidWrapper">
    <div class="wrapper wrapper1">
        <div class="section post">
            <h2 class="sectionTitle1">逛逛乡Home</h2>
            <div class="post descriptions">
               <div class="postSection">
                   <h3 class="title">下单&支付</h3>
                   <p>
                       进入”全部产品“或者”在售产品“的详情页，对想购买的产品点击“加入购物车”，该产品会自动保存至乡HOME的购物车，
                       您可以继续选购自己喜欢的产品，或者点击”结算“进行付款；进入”预售产品“详情页，
                       对想预定的产品点击”立即预定“后付款完成预定。
                       <br><br>
                       乡HOME目前接受支付宝、微信支付两种支付方式，您的付款直接支付至乡HOME，您收到货品后不需要再确认收货并付款。
                   </p>
               </div>
                <div class="postSection">
                    <h3 class="title">乡HOME优惠券</h3>
                    <p>
                        乡HOME优惠券分为现金券及规则优惠券<br>
                        （1）现金优惠券—可直接当现金使用<br>
                        （2）规则优惠券—根据活动条件使用相应优惠券<br>
                        拥有乡HOME优惠券，交订单时可依规定使用乡HOME优惠券<br>
                        （乡HOME优惠券加入Link，点击后可查询当前可使用的优惠券）<br>
                        优惠券的发放及具体使用规则请随时关注乡HOME推出的活动。支付时可以使用乡HOME优惠券

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>