<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->

    <link href="static/css/src/main.css" type="text/css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}
<!--<script src="templates/header.js"></script>-->

<div class="fluidWrapper">
    <div class="wrapper wrapper1">
        <div class="section post">
            <h2 class="sectionTitle1">订单详情</h2>
            <div class="post descriptions">
                <div class="postSection">
                    <h3 class="title">查询订单</h3>
                    <p>
                        更改/取消订单规则
                        <br>
                        ①、下单后未支付更改/取消订单：<br>
                        您可进入【我的订单】点击【订单详情】自行取消订单；也可不支付该笔订单，一小时后该笔订单自动取消。<br>
                        ②、下单后且支付后更改/取消订单：<br>
                        请您直接联系在线客服，我们将于2个工作日内与您联系，乡HOME会为您办理相关退款。<br>
                        ③、付款后取消之订单退款：<br>
                        审核通过后，我们将于三个工作日内原路返还退款至您的账户中。
                    </p>
                </div>
                <div class="postSection">
                    <h3 class="title">追踪物流</h3>
                    <p>
                        ①、登入后点击页面右上方的个人头像进入用户中心<br>
                        ②、点击左侧导航栏内的“我的订单”<br>
                        ③、进入后可查看所有的订单列表<br>
                        登录您的乡HOME帐户，点击右上角您的用户名下方的"我的订单"，在我的订单中可以看到配送单号，
                        请按订单中提示的快递公司网站进行查询，或者联系在线客服。
                    </p>
                </div>
                <div class="postSection">
                    <h3 class="title">配送费用</h3>
                    <p>
                        乡HOME以货品重量、收货方地址信息等来计算邮费，因大部分产品为设计师或品牌发货，
                        若同一订单中有两个或两个以上不同设计师的产品，将产生两笔或两笔以上的运费。<br>
                        特殊地区（香港、台湾等地）发货与内地发货的邮费计算方式不同，您可于付款前留意确认。
                    </p>
                </div>
                <div class="postSection">
                    <h3 class="title">配送时间</h3>
                    <p>
                        请您参见订单中的物流详情，如果物流显示有异常，请尽快咨询快递公司或联系在线客服，
                        乡HOME大部分产品为设计师及品牌发货，一般情况为48小时内发货，但因各设计师及品牌所处地区不同，
                        合作快递公司亦不同，到货时间依情况有所区别。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>