<div class="footer">
    <div class="infoContainer">
        <div class="info">
            <ul class="list11">
                <li>
                    <h3 class="title">逛逛乡Home</h3>
                    <a href="login">登陆注册</a>
                    <a href="descriptions/operation">下单&支付</a>
                    <a href="descriptions/operation">代金卷</a>
                    <a href="forgot-password">找回密码</a>
                </li>
                <li>
                    <h3 class="title">订单详情</h3>
                    <a href="descriptions/order">查询订单</a>
                    <a href="descriptions/order">追踪物料</a>
                    <a href="descriptions/order">配送费用</a>
                    <a href="descriptions/order">配送时间</a>
                </li>
                <li>
                    <h3 class="title">退货换货</h3>
                    <a href="descriptions/refund">退换规则</a>
                    <a href="descriptions/refund">退换方式</a>
                    <a href="descriptions/refund">退款时间</a>
                    <a href="descriptions/refund">运费报销</a>
                </li>
            </ul>
            <div class="content">
                <h3 class="title">网站协议</h3>
                <a href="static/views/agreement.html" class="detail">乡Home会员所发布展示的作品版权归乡Home所有，任何商业用途均须联系乡Home，
                    如未经授权用作他处，乡Home将保留追究侵权者法律责任的权利</a>
            </div>
        </div>
        <p class="copyRight">
            CopyRight &copy; 2015 xiangart.com Inc.All Rights Reserved.中意工业设计（湖南）有限责任公司<br>
            版权所有 湘ICP备14049641号-1 增值电信业务经验许可：湘ICP证1500098号<br>
            客服电话：0731-8898117&nbsp;&nbsp;联系我们：concat@xianghome.com
        </p>
    </div>
</div>