<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->

    <link href="static/css/lib/jquery.toastmessage.css" type="text/css" rel="stylesheet">
    <link href="static/css/src/main.css" type="text/css" rel="stylesheet">

</head>
<body>

{% include "header.html" %}
<!--<script src="templates/header.js"></script>-->

<div class="wrapper wrapper2">
    <form class="form" id="myForm" method="post" action="forgot-password">
        <h2 class="title">忘记密码</h2>
        <div class="row">
            <label class="label">手机</label>
            <input class="input" type="text" name="tel" id="tel">
            <span class="link link1" id="sendSms">发送验证码</span>
        </div>
        <div class="row">
            <label class="label">验证码</label>
            <input class="input" type="text" name="code">
        </div>
        <div class="row">
            <input type="submit" value="提交" class="submitBtn">
        </div>
    </form>
</div>


{% include "footer.html" %}


<script src="static/js/lib/jquery-2.0.3.min.js"></script>
<script src="static/js/lib/jquery.validate.min.js"></script>
<script src="static/js/lib/jquery.toastmessage.js"></script>
<script src="static/js/src/config.js"></script>
<script src="static/js/src/functions.js"></script>
<script src="static/js/src/validCode.js"></script>
<script src="static/js/src/forgotPassword.js"></script>
</body>
</html>