<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->


    <link href="static/css/src/main.css" type="text/css" rel="stylesheet">

</head>
<body>

{% include "header.html" %}
<!--<script src="templates/header.js"></script>-->


    <div class="wrapper">
        <div class="section peopleInfo">
            <div class="bgGradient"></div>
            <img class="bg" src="{{craftsman.bg_image}}">
            <div class="info">
                <p class="excerpt">
                    总收入<br><b style="color: #cf0012;font-size: 30px">{{craftsman.income}}&nbsp;RMB</b>
                    <br><br>
                    {{craftsman.skills}}
                </p>
                <img class="photo" src="{{craftsman.image}}">
                <p class="name">{{craftsman.name}}</p>
            </div>
        </div>
        <div class="section">
            <div class="sectionTitle">
                <h2 class="title">TA的作品</h2>
            </div>
            <ul class="list">
                {% for p in craftsman.products %}
                <li class="show">
                    <a href="products/{{p.id}}" target="_blank">
                        <div class="thumb">
                            <img src="{{p.image}}">
                        <span class="icon">
                            {% if p.status==1 %}
                                成品
                            {% else %}
                                预售
                            {% endif %}
                        </span>
                        </div>
                        <div class="info">
                            <span class="price">{{'%.2f' % p.default_item.price}}&nbsp;RMB</span>
                            <span class="spe">/</span>
                            <h4 class="title ellipsis">{{p.name}}</h4>
                            <p class="author">作者：{{p.designers[0].name if p.designers else ""}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="section post">
            <div class="sectionTitle">
                <h2 class="title">家庭情况</h2>
            </div>
            <div class="post">
                {{craftsman.intro|safe}}
            </div>
        </div>
    </div>

{% include "footer.html" %}

<script src="static/js/lib/jquery-2.0.3.min.js"></script>
<script src="static/js/src/config.js"></script>
<script src="static/js/src/functions.js"></script>
</body>
</html>