<!DOCTYPE html>
<html>
<head>
    {% include "backend/head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe-后台管理</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/src/main.css" rel="stylesheet" type="text/css">
</head>
<body>

{% include "backend/header.html" %}
<!--<script src="templates/backend/header.js"></script>-->

<nav class="left">

    {% include "backend/menu.html" %}
    <!--<script src="templates/backend/menu.js"></script>-->

</nav>
<section class="right">
    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">错误提示</h1>
            </div>
            <div class="panel-body">
                <h1 class="text-success text-center">您无权访问该页面！</h1>
            </div>
        </div>
    </article>
</section>
</body>
</html>