<!DOCTYPE html>
<html>
<head>
    {% include "backend/head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe-后台管理</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/lib/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="static/css/src/main.css" rel="stylesheet" type="text/css">
    <script src="static/js/lib/jquery-2.0.3.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/jquery.dataTables.min.js"></script>
    <script src="static/js/src/config.js"></script>
    <script src="static/js/src/functions.js"></script>
    <script src="static/js/src/proCategoriesMgr.js"></script>
</head>
<body>

{% include "backend/header.html" %}
<!--<script src="templates/backend/header.js"></script>-->

<nav class="left">

    {% include "backend/menu.html" %}
    <!--<script src="templates/backend/menu.js"></script>-->

</nav>

<section class="right">
    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">产品分类管理</h1>
            </div>
            <div class="panel-body" id="opt-body">
                <a class="btn btn-success" href="manager/categories/create">
                    <span class="glyphicon glyphicon-plus"></span> 新建
                </a>
                <table id="myTable" class="dataTable">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>父分类</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr>
                        <td>分类1</td>
                        <td>分类0</td>
                        <td><a href="templates/backend/proCategoryUpdate.html">修改</a></td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>

{% include "backend/loading.html" %}
<!--<script src="templates/backend/loading.js"></script>-->


</body>
</html>