<!DOCTYPE html>
<html>
<head>
    {% include "backend/head.html" %}
    <!--<meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="YaLuoYe"/>
    <meta name="description" content="YaLuoYe">
    <title>YaLuoYe-后台管理</title>
    <base href="http://localhost/cidic-artifacts/ca/frontend/">-->

    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="static/css/lib/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="static/css/lib/jquery.toastmessage.css" rel="stylesheet" type="text/css">
    <link href="static/css/src/main.css" rel="stylesheet" type="text/css">
    <script src="static/js/lib/jquery-2.0.3.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/jquery.dataTables.min.js"></script>
    <script src="static/js/lib/jquery.validate.min.js"></script>
    <script src="static/js/lib/juicer-min.js"></script>
    <script src="static/js/lib/jquery.marcopolo.min.js"></script>
    <script src="static/js/lib/jquery.serialize-object.min.js"></script>
    <script src="static/js/lib/jquery.toastmessage.js"></script>
    <script src="static/js/src/config.js"></script>
    <script src="static/js/src/functions.js"></script>
    <script src="static/js/src/productsMgr.js"></script>
</head>
<body>

<script type="text/template" id="selectedTpl">
    <div data-id="${id}" class="item">
        ${name}<span class="glyphicon glyphicon-remove"></span>
    </div>
</script>

{% include "backend/header.html" %}
<!--<script src="templates/backend/header.js"></script>-->

<nav class="left">

    {% include "backend/menu.html" %}
    <!--<script src="templates/backend/menu.js"></script>-->


</nav>

<section class="right">
    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">产品管理</h1>
            </div>
            <div class="panel-body" id="opt-body">
                <a class="btn btn-success" href="manager/products/create">
                    <span class="glyphicon glyphicon-plus"></span> 新建
                </a>
                <div class="input-group tableSearchContainer col-md-6">
                    <div class="col-md-3">
                        <input type="text" id="searchContent" class="form-control" placeholder="名称">
                    </div>
                    <div class="col-md-3" >
                        <select class="form-control" id="searchType">
                            <option value="">全部</option>
                            <option value="0">预售</option>
                            <option value="1">成品</option>
                        </select>
                    </div>
                    <div class="col-md-3" >
                        <select class="form-control" id="searchStatus">
                            <option value="">全部</option>
                            <option value="1">在售</option>
                            <option value="-1">已下架</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <button id="searchBtn" class="btn btn-default" type="button">搜索</button>
                    </div>
                </div>
                <table id="myTable" class="dataTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>图片</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>状态</th>
                        <th>可展示</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <!--<tr>
                            <td><span class="detailController glyphicon glyphicon-plus"></span></td>
                            <td>dddddddd</td>
                            <td>dddddddd</td>
                            <td>dddddddd</td>
                            <td><a href="#" class="check">修改</a>&nbsp;
                            <a href="#" class="bindData">绑定信息</a>&nbsp;<a href="#" class="editProIn">删除</a></td>
                        </tr>
                        <tr>
                            <td><span class="detailController glyphicon glyphicon-minus"></span></td>
                            <td>dddddddd</td>
                            <td>dddddddd</td>
                            <td>dddddddd</td>
                            <td><a href="#" class="check">修改</a>&nbsp;
                            <a href="#" class="bindData">绑定信息</a>&nbsp;<a href="#" class="editProIn">删除</a></td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>


<!--添加子项-->
<div class="modal fade" id="addChildModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">添加商品子项</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addChildForm" data-action="manager/products/:id/items/add"
                      action="manager/products/:id/items/add" method="post">

                    <div class="form-group">
                        <label  class="control-label col-md-2">规格*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="spec" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-md-2">价格*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-md-2">库存*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="quantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="确定">
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--修改子项-->
<div class="modal fade" id="updateChildModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改商品子项</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="updateChildForm" data-action="manager/products/:proId/items/:itemId/update"
                      action="manager/products/:proId/items/:itemId/update" method="post">

                    <div class="form-group">
                        <label  class="control-label col-md-2">规格*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="spec" id="updateSpec">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-md-2">价格*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="price" id="updatePrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="确定">
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--修改库存-->
<div class="modal fade" id="updateInStoreModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改库存</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="updateInStoreForm" data-action="manager/products/:proId/items/:itemId/add-quantity"
                      action="manager/products/:proId/items/:itemId/add-quantity" method="post">
                    <p>这里只填写增量，如果是减少，前面带-号</p>
                    <div class="form-group">
                        <label  class="control-label col-md-2">库存增量*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="quantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-success" value="确定">
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--设置绑定关系-->
<div class="modal fade" id="bindModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">绑定信息</h4>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tProGroups" data-toggle="tab">商品组</a>
                    </li>
                    <li>
                        <a href="#tDesigners" data-toggle="tab">设计师</a>
                    </li>
                    <li>
                        <a href="#tDesignIns" data-toggle="tab">设计灵感</a>
                    </li>
                    <li>
                        <a href="#tHandicraftsMans" data-toggle="tab">手工艺人</a>
                    </li>
                    <li>
                        <a href="#tSummerCamps" data-toggle="tab">夏令营</a>
                    </li>
                    <li>
                        <a href="#tWorkShops" data-toggle="tab">工作坊</a>
                    </li>
                    <li>
                        <a href="#tHome" data-toggle="tab">首页显示</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tProGroups">
                        <form class="form-horizontal myForm" id="bindProGroups" data-action="manager/products/:id/groups/add"
                              action="manager/products/:id/groups/add" method="post">
                            <div class="form-group">
                                <label  class="control-label col-md-2">已选*</label>
                                <div class="col-md-8 selectedContainer" id="selectedGroups">

                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-md-2">商品组*</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="searchGroups">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="确定">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tDesigners">
                        <form class="form-horizontal myForm" id="bindDesigners" data-action="manager/products/:id/designer/add"
                              action="manager/products/:id/designer/add" method="post">
                            <div class="form-group">
                                <label  class="control-label col-md-2">已选*</label>
                                <div class="col-md-8 selectedContainer" id="selectedDesigners">

                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-md-2">设计师*</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="searchDesigners">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="确定">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tDesignIns">
                        <form class="form-horizontal myForm" id="bindDesignIns" data-action="manager/products/:id/inspirations/add"
                              action="manager/products/:id/inspirations/add" method="post">
                            <div class="form-group">
                                <label  class="control-label col-md-2">已选*</label>
                                <div class="col-md-8 selectedContainer" id="selectedDesignIns">

                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-md-2">设计灵感*</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="searchDesignIns">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="确定">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tHandicraftsMans">
                        <form class="form-horizontal myForm" id="bindHandicraftsMans" data-action="manager/products/:id/craftsmans/add"
                              action="manager/products/:id/craftsmans/add" method="post">
                            <div class="form-group">
                                <label  class="control-label col-md-2">已选*</label>
                                <div class="col-md-8 selectedContainer" id="selectedHandicraftsMans">

                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-md-2">手工艺人*</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="searchHandicraftsMans">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="确定">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tSummerCamps">
                        <form class="form-horizontal myForm" id="bindSummerCamps" data-action="manager/products/:id/activity/add"
                              action="manager/products/:id/activity/add" method="post">
                            <div class="form-group">
                                <label  class="control-label col-md-2">已选*</label>
                                <div class="col-md-8 selectedContainer" id="selectedSummerCamps">

                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-md-2">夏令营*</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="searchSummerCamps">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="确定">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tWorkShops">
                        <form class="form-horizontal myForm" id="bindWorkShops" data-action="manager/products/:id/workshop/add"
                              action="manager/products/:id/workshop/add" method="post">

                            <div class="form-group">
                                <label  class="control-label col-md-2">已选*</label>
                                <div class="col-md-8 selectedContainer" id="selectedWorkShops">

                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="control-label col-md-2">工作坊*</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="searchWorkShops">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="确定">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tHome">
                        <form class="form-horizontal myForm" id="bindHome"  data-action="manager/products/:id/recommend"
                              action="manager/products/:id/recommend" method="post">
                            <div class="form-group">
                                <label  class="control-label col-md-2">是否首页显示*</label>
                                <div class="col-md-8">
                                    <select type="text" class="form-control" name="recommend" id="bHome">
                                        <option value="1">是</option>
                                        <option value="0">否</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-success" value="确定">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include "backend/loading.html" %}
<!--<script src="templates/backend/loading.js"></script>-->


</body>
</html>